html {
  position: fixed;
  height: 100%;
  overflow: hidden;
  touch-action: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  touch-action: none;
  -webkit-overflow-scrolling: touch;
}
